In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

In [200]:
regular_stats = pd.read_csv('NBA Advanced Cleaned Stats.csv')
advanced_stats = pd.read_csv('nba_stats_cleaned.csv')
stats = pd.merge(regular_stats, advanced_stats, on='Player-additional', suffixes=('_trad', '_adv'))
stats.head()

,Rk_trad,Player_trad,Pos_trad,Age_trad,Tm_trad,G_trad,MP_trad,PER,TS%,3PAr,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,23,TOR,55,1140,15.2,0.554,0.267,...,0.702,100,228,328,50,31,30,59,102,508
1,2,Steven Adams,C,29,MEM,42,1133,17.5,0.564,0.004,...,0.364,214,271,485,97,36,46,79,98,361
2,3,Bam Adebayo,C,25,MIA,75,2598,20.1,0.592,0.011,...,0.806,184,504,688,240,88,61,187,208,1529
3,4,Ochai Agbaji,SG,22,UTA,59,1209,9.5,0.561,0.591,...,0.812,43,78,121,67,16,15,41,99,467
4,5,Santi Aldama,PF,22,MEM,77,1682,13.9,0.591,0.507,...,0.750,85,286,371,97,45,48,60,143,696

In [176]:
sf = stats[stats['Pos_trad']=='SF']
sf.reset_index()
sf = sf.rename(columns={'Player':'Player Name'})
sf.head()

,Rk_x,Player Name,Pos_x,Unnamed: 3,Age_x,Tm_x,G_x,GS,MP_x,FG,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional_y
13,14,OG Anunoby,SF,NaN,21,SAS,17,3,320,59,...,1.8,2.9,4.7,0.094,NaN,-0.3,0.7,0.4,1.5,anunoog01
15,16,Deni Avdija,SF,NaN,35,MIN,67,66,2029,261,...,0.0,2.3,2.3,0.054,NaN,-2.8,0.5,-2.3,-0.1,avdijde01
19,20,Patrick Baldwin Jr.,SF,NaN,34,PHO,47,47,1672,483,...,-0.1,0.3,0.1,0.029,NaN,-0.7,-1.4,-2.1,0.0,baldwpa01
27,28,Scottie Barnes,SF,NaN,21,DET,47,3,750,102,...,2.3,2.7,5.0,0.090,NaN,0.5,-0.1,0.4,1.6,barnesc01
36,37,MarJon Beauchamp,SF,NaN,29,HOU,36,0,235,31,...,-0.4,0.8,0.4,0.027,NaN,-4.1,-0.6,-4.8,-0.5,beaucma01

In [5]:
top = ['MIL','BOS','PHI','DEN','MEM','CLE','NYK','SAC','PHO','BRK','LAC','GSW','LAL','ATL','MIA']
bottom = ['PHI','CHO','SAS','HOU','POR','ORL','WAS','IND','UTA','DAL','OKC','CHI','TOR','NOP','MIN']

In [20]:
top_sf = sf[sf['Tm_x'].isin(top)]

,Rk_x,Player,Pos_x,Unnamed: 3,Age_x,Tm_x,G_x,GS,MP_x,FG,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional_y
19,20,Patrick Baldwin Jr.,SF,NaN,34,PHO,47,47,1672,483,...,-0.1,0.3,0.1,0.029,NaN,-0.7,-1.4,-2.1,0.0,baldwpa01
44,44,Buddy Boeheim,SF,NaN,26,ATL,54,0,686,73,...,-0.2,0.0,-0.2,-0.091,NaN,-7.5,-2.0,-9.5,-0.2,boehebu01
67,67,Sterling Brown,SF,NaN,23,LAL,78,65,1879,247,...,0.0,0.1,0.0,0.040,NaN,-7.7,4.3,-3.3,0.0,brownst02
68,68,Troy Brown Jr.,SF,NaN,29,PHO,42,0,687,132,...,1.0,2.0,2.9,0.075,NaN,-1.8,0.8,-1.0,0.5,browntr01
118,117,DeMar DeRozan,SF,NaN,21,DEN,76,6,1181,143,...,5.4,3.2,8.5,0.153,NaN,1.7,0.3,2.0,2.6,derozde01

In [21]:
bottom_sf=sf[sf['Tm_x'].isin(bottom)]

,Rk_x,Player,Pos_x,Unnamed: 3,Age_x,Tm_x,G_x,GS,MP_x,FG,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional_y
13,14,OG Anunoby,SF,NaN,21,SAS,17,3,320,59,...,1.8,2.9,4.7,0.094,NaN,-0.3,0.7,0.4,1.5,anunoog01
15,16,Deni Avdija,SF,NaN,35,MIN,67,66,2029,261,...,0.0,2.3,2.3,0.054,NaN,-2.8,0.5,-2.3,-0.1,avdijde01
36,37,MarJon Beauchamp,SF,NaN,29,HOU,36,0,235,31,...,-0.4,0.8,0.4,0.027,NaN,-4.1,-0.6,-4.8,-0.5,beaucma01
40,40,Saddiq Bey,SF,NaN,22,DAL,15,0,108,22,...,2.6,1.2,3.9,0.087,NaN,0.9,-1.2,-0.3,0.9,beysa01
48,48,Leandro Bolmaro,SF,NaN,25,CHO,32,8,468,77,...,-0.4,0.0,-0.3,-0.231,NaN,-12.4,-2.3,-14.7,-0.2,bolmale01

In [22]:
top_sf.describe()

,Rk_x,Age_x,G_x,GS,MP_x,FG,FGA,FG%,3P,3PA,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,...,0.0,47.000000,47.000000,47.000000,47.000000,0.0,47.000000,47.000000,47.000000,47.000000
mean,299.042553,26.063830,51.510638,19.106383,1077.893617,167.744681,357.000000,0.451191,58.489362,159.085106,...,NaN,0.953191,1.017021,1.957447,0.076681,NaN,-1.378723,-0.168085,-1.542553,0.300000
std,138.386503,4.560722,23.366524,26.369642,755.049933,146.605722,305.258835,0.074184,60.520522,149.747879,...,NaN,1.499689,1.015814,2.367419,0.095830,NaN,4.224099,2.265824,5.640218,1.028295
min,20.000000,19.000000,4.000000,0.000000,20.000000,3.000000,9.000000,0.259000,0.000000,2.000000,...,NaN,-0.500000,0.000000,-0.200000,-0.288000,NaN,-12.700000,-8.000000,-20.700000,-0.700000
25%,200.500000,22.500000,31.000000,1.000000,402.000000,54.500000,142.500000,0.411500,9.000000,35.500000,...,NaN,0.050000,0.200000,0.200000,0.041000,NaN,-2.850000,-1.300000,-3.400000,-0.300000
50%,311.000000,26.000000,61.000000,4.000000,1042.000000,143.000000,288.000000,0.453000,44.000000,127.000000,...,NaN,0.400000,0.700000,1.000000,0.068000,NaN,-1.900000,-0.500000,-1.900000,0.000000
75%,399.000000,28.000000,70.500000,25.500000,1745.000000,248.500000,469.500000,0.491000,83.500000,221.000000,...,NaN,1.050000,1.700000,2.900000,0.112500,NaN,0.100000,0.750000,0.050000,0.400000
max,526.000000,36.000000,82.000000,78.000000,2382.000000,587.000000,1252.000000,0.638000,301.000000,731.000000,...,NaN,6.200000,4.300000,10.500000,0.367000,NaN,17.000000,9.300000,17.800000,5.100000

In [109]:
top_sf = top_sf[regular_stats['MP']>1700]

/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/387449806.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_sf = top_sf[regular_stats['MP']>1700]

,Rk_x,Player,Pos_x,Unnamed: 3,Age_x,Tm_x,G_x,GS,MP_x,FG,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional_y
127,126,Tyler Dorsey,SF,NaN,23,LAL,76,45,1860,200,...,0.1,0.0,0.1,0.367,NaN,17.0,0.8,17.8,0.0,dorsety01
337,336,Josh Minott,SF,NaN,27,MIA,71,49,2077,254,...,0.1,0.2,0.3,0.146,NaN,-1.9,0.4,-1.6,0.0,minotjo01
378,377,Eugene Omoruyi,SF,NaN,22,SAC,80,78,2382,354,...,0.1,0.5,0.6,0.042,NaN,-3.5,-0.9,-4.4,-0.4,omorueu01

In [24]:
bottom_sf.describe()

,Rk_x,Age_x,G_x,GS,MP_x,FG,FGA,FG%,3P,3PA,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,...,0.0,52.000000,52.000000,52.000000,52.000000,0.0,52.000000,52.000000,52.000000,52.000000
mean,250.634615,25.057692,50.019231,23.961538,1115.076923,190.750000,412.980769,0.472635,53.884615,155.653846,...,NaN,0.905769,1.142308,2.059615,0.064192,NaN,-1.401923,-0.278846,-1.684615,0.348077
std,152.993275,4.117935,20.622176,28.342417,775.012482,152.601349,337.086914,0.057731,53.290787,148.936739,...,NaN,1.214038,0.931233,1.923055,0.068500,NaN,3.030530,1.218056,3.527894,0.821164
min,14.000000,19.000000,6.000000,0.000000,33.000000,6.000000,12.000000,0.369000,2.000000,5.000000,...,NaN,-0.800000,0.000000,-0.300000,-0.231000,NaN,-12.400000,-2.900000,-14.700000,-1.100000
25%,126.750000,22.000000,33.500000,2.000000,465.500000,66.500000,128.750000,0.440500,7.750000,28.000000,...,NaN,0.000000,0.300000,0.200000,0.046000,NaN,-3.000000,-0.750000,-3.425000,-0.100000
50%,232.500000,24.500000,54.000000,7.000000,973.000000,148.000000,309.500000,0.457000,35.500000,113.000000,...,NaN,0.700000,1.050000,1.950000,0.080000,NaN,-1.100000,-0.400000,-1.200000,0.150000
75%,370.750000,27.250000,65.500000,53.250000,1713.000000,284.250000,610.750000,0.501500,80.000000,223.250000,...,NaN,1.500000,1.825000,3.425000,0.095250,NaN,0.025000,0.500000,-0.300000,0.525000
max,528.000000,37.000000,82.000000,80.000000,2678.000000,542.000000,1142.000000,0.640000,212.000000,562.000000,...,NaN,4.900000,3.400000,7.600000,0.194000,NaN,5.100000,3.500000,6.700000,3.500000

In [110]:
bottom_sf = bottom_sf[regular_stats['MP']>1700]

/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/2020337568.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bottom_sf = bottom_sf[regular_stats['MP']>1700]

,Rk_x,Player,Pos_x,Unnamed: 3,Age_x,Tm_x,G_x,GS,MP_x,FG,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional_y
15,16,Deni Avdija,SF,NaN,35,MIN,67,66,2029,261,...,0.0,2.3,2.3,0.054,NaN,-2.8,0.5,-2.3,-0.1,avdijde01
230,229,Brandon Ingram,SF,NaN,22,IND,56,56,1883,412,...,1.8,1.7,3.5,0.108,NaN,2.2,-0.4,1.7,1.4,ingrabr01
456,455,Xavier Sneed,SF,NaN,23,POR,62,62,2171,467,...,0.1,0.0,0.1,0.086,NaN,-3.1,-0.4,-3.6,0.0,sneedxa01

In [111]:
#significance tests
#PTS
stat, p_value = ttest_ind(top_sf['PTS'], bottom_sf['PTS'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in points scored.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in points scored.")

Test Statistic: -1.791258483153853
P-Value: 0.14964091532573953
Fail to reject the null hypothesis. There is no significant difference in points scored.

In [117]:
#rebounds ***********************
stat, p_value = ttest_ind(top_sf['TRB'], bottom_sf['TRB'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in total rebounds.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in total rebounds.")

Test Statistic: 7.120551045460683
P-Value: 0.0031272607269830894
Reject the null hypothesis. There is a significant difference in total rebounds.

In [113]:
#assists
stat, p_value = ttest_ind(top_sf['AST'], bottom_sf['AST'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in assists.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in assists.")

Test Statistic: -3.373296340413551
P-Value: 0.07668262409536224
Fail to reject the null hypothesis. There is no significant difference in assists.

In [114]:
#turnovers ********************
stat, p_value = ttest_ind(top_sf['TOV'], bottom_sf['TOV'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in turnovers.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in turnovers.")

Test Statistic: -4.407261060653622
P-Value: 0.013595756736915786
Reject the null hypothesis. There is a significant difference in turnovers.

In [118]:
#FG%
stat, p_value = ttest_ind(top_sf['FG%'], bottom_sf['FG%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in field goal percentage.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in field goal percentage.")

Test Statistic: -0.28712845225021355
P-Value: 0.792165623355615
Fail to reject the null hypothesis. There is no significant difference in field goal percentage.

In [119]:
#FT%
stat, p_value = ttest_ind(top_sf['FT%'], bottom_sf['FT%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in free throw %.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in free throw %.")

Test Statistic: -1.4628881276098042
P-Value: 0.23573290335082125
Fail to reject the null hypothesis. There is no significant difference in free throw %.

In [120]:
#threes
stat, p_value = ttest_ind(top_sf['3P%'], bottom_sf['3P%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in threes.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in threes.")

Test Statistic: -0.27023200276876314
P-Value: 0.8063209767115538
Fail to reject the null hypothesis. There is no significant difference in threes.

In [121]:
#steals
stat, p_value = ttest_ind(top_sf['STL'], bottom_sf['STL'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in steals.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in steals.")

Test Statistic: -0.3382120517773775
P-Value: 0.7639899588339132
Fail to reject the null hypothesis. There is no significant difference in steals.

In [122]:
#blocks
stat, p_value = ttest_ind(top_sf['BLK'], bottom_sf['BLK'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in blocks.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in blocks.")

Test Statistic: 1.4320031115163143
P-Value: 0.25061548700423797
Fail to reject the null hypothesis. There is no significant difference in blocks.

In [123]:
#personal fouls
stat, p_value = ttest_ind(top_sf['PF'], bottom_sf['PF'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in personal fouls.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in personal fouls.")

Test Statistic: 0.9581680931685118
P-Value: 0.40910865701561083
Fail to reject the null hypothesis. There is no significant difference in personal fouls.

In [124]:
#offensive rebounds **********************
stat, p_value = ttest_ind(top_sf['ORB'], bottom_sf['ORB'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in offensive rebounds.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in offensive rebounds.")

Test Statistic: 5.08812427331425
P-Value: 0.012903219189329136
Reject the null hypothesis. There is a significant difference in offensive rebounds.

In [125]:
#efg%
stat, p_value = ttest_ind(top_sf['eFG%'], bottom_sf['eFG%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in eFG%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in eFG%.")

Test Statistic: -0.066592715821201
P-Value: 0.9501052594481804
Fail to reject the null hypothesis. There is no significant difference in eFG%.

In [126]:
#2P%
stat, p_value = ttest_ind(top_sf['2P%'], bottom_sf['2P%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in 2P%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in 2P%.")

Test Statistic: -0.1095282862900281
P-Value: 0.920085898362465
Fail to reject the null hypothesis. There is no significant difference in 2P%.

In [127]:
#Defensive rebounds ***********
stat, p_value = ttest_ind(top_sf['DRB'], bottom_sf['DRB'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in defensive rebounds.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in defensive rebounds.")

Test Statistic: 7.673618203378693
P-Value: 0.0017918062361505177
Reject the null hypothesis. There is a significant difference in defensive rebounds.

In [128]:
#PER
stat, p_value = ttest_ind(top_sf['PER'], bottom_sf['PER'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in PER.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in PER.")

Test Statistic: 1.0446087901944998
P-Value: 0.39271913906295447
Fail to reject the null hypothesis. There is no significant difference in PER.

In [129]:
#true shooting
stat, p_value = ttest_ind(top_sf['TS%'], bottom_sf['TS%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in TS%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in TS%.")

Test Statistic: 0.4551615564047948
P-Value: 0.6807830391044389
Fail to reject the null hypothesis. There is no significant difference in TS%.

In [130]:
#Usage Rate
stat, p_value = ttest_ind(top_sf['USG%'], bottom_sf['USG%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in USG%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in USG%.")

Test Statistic: 0.3253206099316201
P-Value: 0.7653328578957281
Fail to reject the null hypothesis. There is no significant difference in USG%.

In [131]:
#Win Shares
stat, p_value = ttest_ind(top_sf['WS'], bottom_sf['WS'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in win shares.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in win shares.")

Test Statistic: -1.6234424267103007
P-Value: 0.24093502655161894
Fail to reject the null hypothesis. There is no significant difference in win shares.

In [132]:
#Plus/Minus
stat, p_value = ttest_ind(top_sf['BPM'], bottom_sf['BPM'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in plus/minus.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in plus/minus.")

Test Statistic: 0.7448631363348374
P-Value: 0.5275451436095321
Fail to reject the null hypothesis. There is no significant difference in plus/minus.

In [133]:
#VORP
stat, p_value = ttest_ind(top_sf['VORP'], bottom_sf['VORP'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in VORP.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in VORP.")

Test Statistic: -1.1283296297199523
P-Value: 0.36299505201722154
Fail to reject the null hypothesis. There is no significant difference in VORP.

In [134]:
#3PAr
stat, p_value = ttest_ind(top_sf['3PAr'], bottom_sf['3PAr'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in 3PAr.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in 3PAr.")

Test Statistic: -0.5745640055064876
P-Value: 0.6010338010087608
Fail to reject the null hypothesis. There is no significant difference in 3PAr.

In [135]:
#FTr
stat, p_value = ttest_ind(top_sf['FTr'], bottom_sf['FTr'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in FTr.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in FTr.")

Test Statistic: -1.4949728104292632
P-Value: 0.2500205834580632
Fail to reject the null hypothesis. There is no significant difference in FTr.

In [136]:
#TRB%
stat, p_value = ttest_ind(top_sf['TRB%'], bottom_sf['TRB%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in TRB%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in TRB%.")

Test Statistic: 1.2229371288986766
P-Value: 0.29286106573819953
Fail to reject the null hypothesis. There is no significant difference in TRB%.

In [138]:
#ORB%
stat, p_value = ttest_ind(top_sf['ORB%'], bottom_sf['ORB%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in ORB%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in ORB%.")

Test Statistic: 2.452063837985608
P-Value: 0.09735057871545016
Fail to reject the null hypothesis. There is no significant difference in ORB%.

In [139]:
#DRB%
stat, p_value = ttest_ind(top_sf['DRB%'], bottom_sf['DRB%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in DRB%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in DRB%.")

Test Statistic: -0.014754623763089749
P-Value: 0.9889390846688072
Fail to reject the null hypothesis. There is no significant difference in DRB%.

In [140]:
#AST%
stat, p_value = ttest_ind(top_sf['AST%'], bottom_sf['AST%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in AST%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in AST%.")

Test Statistic: -2.6608821867764614
P-Value: 0.07871101030995326
Fail to reject the null hypothesis. There is no significant difference in AST%.

In [141]:
#STL%
stat, p_value = ttest_ind(top_sf['STL%'], bottom_sf['STL%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in STL%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in STL%.")

Test Statistic: 0.6038772616713557
P-Value: 0.582554292759859
Fail to reject the null hypothesis. There is no significant difference in STL%.

In [142]:
#BLK%
stat, p_value = ttest_ind(top_sf['BLK%'], bottom_sf['BLK%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in BLK%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in BLK%.")

Test Statistic: 0.30499714066520933
P-Value: 0.7885210544983394
Fail to reject the null hypothesis. There is no significant difference in BLK%.

In [143]:
#TOV%
stat, p_value = ttest_ind(top_sf['TOV%'], bottom_sf['TOV%'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in TOV%.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in TOV%.")

Test Statistic: -2.6425360276564973
P-Value: 0.07053587531728506
Fail to reject the null hypothesis. There is no significant difference in TOV%.

In [144]:
#OWS
stat, p_value = ttest_ind(top_sf['OWS'], bottom_sf['OWS'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in OWS.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in OWS.")

Test Statistic: -0.9131682328565596
P-Value: 0.4575491971033516
Fail to reject the null hypothesis. There is no significant difference in OWS.

/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/444259772.py:2: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  stat, p_value = ttest_ind(top_sf['OWS'], bottom_sf['OWS'], equal_var=False)

In [145]:
#DWS
stat, p_value = ttest_ind(top_sf['DWS'], bottom_sf['DWS'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in DWS.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in DWS.")

Test Statistic: -1.5625952885742485
P-Value: 0.24857340343788484
Fail to reject the null hypothesis. There is no significant difference in DWS.

In [146]:
#WS/48
stat, p_value = ttest_ind(top_sf['WS/48'], bottom_sf['WS/48'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in WS/48.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in WS/48.")

Test Statistic: 1.0539130319282333
P-Value: 0.3976268475084289
Fail to reject the null hypothesis. There is no significant difference in WS/48.

In [147]:
#OBPM
stat, p_value = ttest_ind(top_sf['OBPM'], bottom_sf['OBPM'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in OBPM.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in OBPM.")

Test Statistic: 0.7496038319971363
P-Value: 0.5234199786381961
Fail to reject the null hypothesis. There is no significant difference in OBPM.

In [148]:
#DBPM
stat, p_value = ttest_ind(top_sf['DBPM'], bottom_sf['DBPM'], equal_var=False)
alpha = 0.05

print(f'Test Statistic: {stat}')
print(f'P-Value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in DBPM.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in DBPM.")

Test Statistic: 0.33646329245522666
P-Value: 0.7572438453181312
Fail to reject the null hypothesis. There is no significant difference in DBPM.

In [77]:
#Stats of significance: TOV, TRB, ORB, DRB

In [149]:
weights = {'TOV': 0.25, 'TRB': 0.25, 'ORB': 0.25, 'DRB': 0.25}
for stat in weights.keys():
    max_value = sfs[stat].max()
    sfs.loc[:, stat + '_norm'] = sfs[stat]/max_value

sfs.loc[:, 'Weighted_Score'] = sum([sfs[stat + '_norm'] * weight for stat, weight in weights.items()])

ranked_sf = sfs.sort_values('Weighted_Score', ascending=False)

print(ranked_sf[['Player','Weighted_Score']].head(25))

                    Player  Weighted_Score
408            Cam Reddish        0.776684
96             Amir Coffey        0.746137
221          Caleb Houstan        0.742874
392        Otto Porter Jr.        0.736813
67          Sterling Brown        0.730085
461              Max Strus        0.695419
190       Tim Hardaway Jr.        0.678223
310           Caleb Martin        0.665365
495          Jabari Walker        0.532698
180          Javonte Green        0.492434
503          Yuta Watanabe        0.489638
149      Simone Fontecchio        0.486385
378         Eugene Omoruyi        0.450185
337            Josh Minott        0.448499
478  Juan Toscano-Anderson        0.421273
128          Luguentz Dort        0.406768
511             Jack White        0.401645
336          Justin Minaya        0.389453
230         Brandon Ingram        0.370089
121         Hamidou Diallo        0.366111
127           Tyler Dorsey        0.364787
380        Kelly Oubre Jr.        0.347918
229             Joe Ingles        0.313076
456           Xavier Sneed        0.306511
15             Deni Avdija        0.303863

/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/4022255224.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfs.loc[:, stat + '_norm'] = sfs[stat]/max_value
/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/4022255224.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfs.loc[:, stat + '_norm'] = sfs[stat]/max_value
/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/4022255224.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfs.loc[:, stat + '_norm'] = sfs[stat]/max_value
/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/4022255224.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfs.loc[:, stat + '_norm'] = sfs[stat]/max_value
/var/folders/wp/jqq6rhr97930vxndhx84wd8w0000gn/T/ipykernel_71183/4022255224.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sfs.loc[:, 'Weighted_Score'] = sum([sfs[stat + '_norm'] * weight for stat, weight in weights.items()])

In [171]:
salaries = pd.read_csv('Nba Player Salaries.csv')
salaries = salaries.rename(columns={'2022/2023': 'Salary'})
salaries['Salary'] = salaries['Salary'].replace('[\$,]', '', regex=True).astype(int)
salaries.head()

,Player Id,Player Name,Salary,2023/2024,2024/2025,2024/2025.1
0,1,Stephen Curry,48070014,"$51,915,615","$55,761,217","$59,606,817"
1,2,John Wall,47345760,$0,$0,$0
2,3,Russell Westbrook,47080179,$0,$0,$0
3,4,LeBron James,44474988,"$46,698,737","$50,434,636",$0
4,5,Kevin Durant,44119845,"$47,649,433","$51,179,020","$54,708,608"

In [194]:
final_sfs = pd.merge(ranked_sf, salaries, on='Player Name')
final_sfs = final_sfs[['Player Name','Weighted_Score','Salary']]
final_sfs = pd.merge(final_sfs, sf[['Player Name','Pos_x','Tm_x']],on='Player Name')
final_sfs = final_sfs.rename(columns={'Pos_x':'Position','Tm_x':'Team'})
order = ['Player Name', 'Team', 'Position', 'Weighted_Score', 'Salary']
final_sfs = final_sfs[order] if all(col in final_sfs.columns for col in order) else final_sfs
final_sfs

              Player Name Team Position  Weighted_Score    Salary
0             Cam Reddish  MIL       SF        0.776684   5954454
1             Amir Coffey  TOR       SF        0.746137   3395062
2           Caleb Houstan  GSW       SF        0.742874   2000000
3          Sterling Brown  LAL       SF        0.730085   3122602
4               Max Strus  HOU       SF        0.695419   1815677
5            Caleb Martin  WAS       SF        0.665365   6479000
6           Jabari Walker  ORL       SF        0.532698   1017781
7           Javonte Green  OKC       SF        0.492434   1815677
8           Yuta Watanabe  CHO       SF        0.489638   1968175
9       Simone Fontecchio  UTA       SF        0.486385   3205128
10         Eugene Omoruyi  SAC       SF        0.450185   1013119
11            Josh Minott  MIA       SF        0.448499   1017781
12  Juan Toscano-Anderson  GSW       SF        0.421273   2133278
13          Luguentz Dort  NYK       SF        0.406768  15277778
14             Jack White  BOS       SF        0.401645    508891
15          Justin Minaya  NOP       SF        0.389453     35096
16         Brandon Ingram  IND       SF        0.370089  31650600
17         Hamidou Diallo  MEM       SF        0.366111   5200000
18           Tyler Dorsey  LAL       SF        0.364787    201802
19             Joe Ingles  NYK       SF        0.313076   6479000
20           Xavier Sneed  POR       SF        0.306511    102910
21            Deni Avdija  MIN       SF        0.303863   4916160

In [193]:
final_sfs.to_csv('sfs_final_list.csv',index=False)